:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bottom-information {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.text {
  text-align: left;
  font-size: 12px;
  padding: 0rem 1.5rem 1rem 1.5rem;
  color: var(--dark-gray);
  line-height: 1.3rem;
}

.second-text {
  text-align: left;
  letter-spacing: 5px;
  padding: 0rem 1.5rem 0rem 1.5rem;
  margin-top: 2.4rem;
  font-size: 14px;
  text-transform: uppercase;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.slide_card {
  display: grid;
  grid-template-rows: 320px auto;
  grid-template-columns: 1fr;
}



.text_second {
  text-align: left;
  padding: 0rem 1.5rem 0rem 1.5rem;
}

.slide_card a {
  padding: 0rem 1.5rem 0rem 1.5rem;
  margin-bottom: 2.5rem;
  text-align: left;
  text-decoration: none;
  letter-spacing: 8px;
  font-size: 0.8rem;
  color: var(--black);
}

.slide_card a:hover {
  color: var(--dark-gray);
}

.image_container {
  position: relative;
  display: grid;
}

.button_container {
  position: absolute;
  justify-self: flex-end;
  align-self: flex-end;
}

button {
  width: 4rem;
  height: 4rem;
  border: none;
  margin: 0;
  background-color:var(--black);
}

button:hover {
  background-color: var(--very-dark-gray);
  cursor: pointer;
}

.image-about {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image_container {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.desktop {
  display: none;
}


@media (min-width:830px) {

  .mobile {
    display: none;
  }

  .desktop {
    display: grid;
  }
  
  .slide_card {
    flex: 2;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: auto;
  }

  .slide_card .card {
    justify-content: center;
  }

  .slide_card a { 
    font-weight: bold;
    padding: 0rem 4rem 0rem 4rem;
  }

  .text_second {
    font-size: 1.9rem;
    padding: 0rem 1rem 0rem 4rem;
  }

  .text {
    padding: 0rem 4rem 1rem 4rem;
  }

  .image_container {
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .bottom-information {
    flex: 1;
    height: 10rem;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.5fr 1fr 0.5fr ;
  }

  .bottom-information .card {
    justify-content: center;
  }

  .bottom-information img {
    object-fit: cover;
    height: 100%;
  }

  .button_container {
    transform: translateX(8rem);
  }

  .second-text {
    padding: 0rem 4rem 0rem 4rem;
  }

}